body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.header-sec {
    display: flex;
    padding: 5%;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

h1 {
    font-size: 50px;
}

.title-name {
    color: #333D79FF;
}

.link-button {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color:brown;
    background-image: linear-gradient(to bottom right, red , blue);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 40px;
}

.top-banner-2 img {
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 5%;
}

.middle-sec {
    display: flex;
    padding: 5%;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.middle-banner-1 img {
    border: 1px  solid black;
    border-radius: 50%;
}

.middle-banner-2 {
    margin-left: 5%;
    padding: 5%;
}

.experience-item {
    display: flex;
    padding: 5%;
}

.experience-area {
    box-shadow: 20px 20px 40px grey;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
}

#left-border-1 {
    border-left: 7px solid;
    border-image: linear-gradient(blue, navy);
    border-image-slice: 1;
}

#left-border-2 {
    border-left: 7px solid;
    border-image: linear-gradient(rgb(141, 60, 13), rgb(55, 167, 44));
    border-image-slice: 1;
}